/*code Sergio*/
body{
	background-image: url('../img/Interface/Vue1.png');
	background-repeat: no-repeat;
	background-position: center top;

}
.btnThe{
	margin-left: 245px;
	margin-top: 220px;
}
.btnMoins{
	margin-left: 845px;
	margin-top: -189px;
}
.btnPlus{
	margin-left: 889px;
	margin-top: -229px;
}
.btnChoc{
	margin-left: 230px;
	margin-top: -35px;
}
.btnLat{
	margin-left: 230px;
	margin-top: 5px;
}
.btnExp{
	margin-left: 230px;
	margin-top: 5px;
}
.sugar1, .sugar2,.sugar3, .sugar4, .sugar5{
	opacity: 0;
}
.nbsugar{
	margin-left: 760px;
	margin-top: -670px;
}
.coins{
	text-align: center;
	margin-left: 290px;
	margin-top: 100px;
}
.messageBoisson{
	color: red;
	font-size: 20px;
	margin-left: 490px;
	margin-top: -385px;

}
.messagePieces{
	color: red;
	font-size: 20px;
	margin-left: 490px;
	margin-top: -360px;
}
.messageRendu{
	color: red;
	font-size: 20px;
	margin-left: 490px;
	margin-top: -335px;
}
.reset{
	margin-left: 818px;
	margin-top: 43px;
}
.mtnance{
	margin-left: 205px;
	margin-top: 235px;
}
.monnayeur{
	margin-left: 795px;
	margin-top: -180px;

}
.pieces{
	margin-left: -100px;
	margin-top: 0px;
	z-index: 2;
	opacity: 0;
}
.btn-valider{
	margin-left: 550px;
	margin-top: -1630px;
}
/*---------------------------------------------------------------------*/

/*-------------------------------Drink-------------------------------*/

#Mug{
	opacity: 0;
	margin-top: -350px;
	margin-left: 435px;

}
#espresso{
	opacity: 0;
	margin-top: -350px;
	margin-left: 475px;
}
#latte{
	opacity: 0;
	margin-top: -535px;
	margin-left: 435px;
}
#tea{
	opacity: 0;
	margin-top: -512px;
	margin-left: 467px;
}
#chocolate{
	opacity: 0;
	margin-top: -549px;
	margin-left: 429px;
}
.prendMoney{
	z-index: 1;
	/*---------------------------------------------------------------------*/
}

label > input {
	visibility: hidden; /* Makes input not-clickable */
	position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
	/*cursor:pointer;*/
	/*border:2px solid transparent;*/
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
	border:2px solid #f00;
}
